@tailwind base;
@tailwind components;
@tailwind utilities;



.markdown{
    code {
        display: block;
        white-space: pre-wrap;
      }

} 

.language-python{
    background-color: rgba(92, 136, 153, 0.295);
    padding: 1.5rem;
    margin: 1rem;
    border-radius: 10px;
}


